

.swiper {
    width: 100%;
    margin: 50px auto 50px;
    display: grid;

    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
}

.swiper-slide {
    width: 100%;
    background-color: #333333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Sombra de las cards */
    padding: 40px; /* Padding en el interior de la card */
    text-align: center;
    border-radius: 25px;
}

.iconos {
    display: flex; /* Para que los iconos se pongan en forma horizontal */
    justify-content: space-between; /* Le indicamos que haga una separación entre los elementos */
    align-items: center;
    margin-bottom: 40px; /* Espacio hacia abajo */
}

.iconos i {
    font-size: 20px;
    color: hwb(332 14% 25%); /* Tu color rosado principal */
}

.iconos img {
    width: 160px;
}

.producto-content {
    display: flex; /* Hace que se coloque de forma horizontal */
    justify-content: space-between; /* Toma un espacio entre los elementos */
    margin-top: 10px;
}

.producto-txt {
    flex-basis: 50%; /* Solo toma la mitad de el tamaño */
    text-align: left;
    
}

.producto-txt span {
    font-size: 25px;
    color: hwb(332 14% 25%); /* Tu color rosado principal */
    font-weight: bold;
}

.producto-txt h3 {
    font-size: 20px;
    color: #fff; 
    text-transform: uppercase; /* Convertimos el texto del h3 en mayúsculas */
}

.producto-txt p {
    font-size: 14px;
    color: #fff;
    text-align: justify;
}

.producto-img {
    flex-basis: 50%; /* Toma la otra parte */
    text-align: right;
}

.producto-img img {
    width: 160px;
    border-radius: 25px;
    height: 150px;
    object-fit: cover;
}

.btn-1 {
    display: inline-block; /* El botón se debe comportar como un bloque en línea */
    padding: 13px 55px; /* Espacio de arriba abajo, derecha izquierda */
    border: 1px solid hwb(332 14% 25%); /* Borde con tu color rosado principal */
    border-radius: 25px;
    color: hwb(332 14% 25%); /* Color de texto del botón con tu rosado principal */
    text-decoration: none; /* Quita la una línea que viene por defecto abajo de la letra */

}

.btn-1:hover {
    background-color: hwb(332 14% 25%); /* Fondo del botón al pasar el ratón */
    color: #ffffff; /* Color de texto del botón al pasar el ratón */
}

@media (max-width: 500px) {
    .swiper-slide {
        width: 300px; /* Ancho de cada card */
        /* font-size: 10px; */ /* Considera si quieres reducir el tamaño de fuente general aquí o solo en elementos específicos */
    }
    .producto-txt h3 {
        font-size: 15px;
    }
    .producto-txt span {
        font-size: 20px;
    }
    .producto-content {
        margin-top: 6px;
    }
    .producto-img img {
        width: 140px;
    }
}

@media (max-width: 768px) {

    

    /* 6. Ajustes específicos para swiper si lo necesitas */
    .swiper {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .swiper-slide {
        max-width: 90%;
        width: auto;
        padding: 20px;
        font-size: 0.9em;
    }
    .producto-content {
        flex-direction: column;
        align-items: center;
    }
    .producto-txt, .producto-img {
        flex-basis: auto;
        width: 100%;
        text-align: center;
    }
    .producto-img {
        margin-top: 15px;
    }
    .btn-1 {
        position: static;
        transform: none;
        margin-top: 20px;
        width: auto;
    }
}